
*{margin:0;padding:0;list-style-type:none;box-sizing:border-box;}
a{text-decoration:none;}
article
{
	width:100%;
	height:100%;
	background:rgba(94, 143, 199, 0.5);
}
header
{
	width:100%;
	height:70px;
	background:url(../img/xuesheng.png) no-repeat scroll 15px center/35px;
}
header > h2
{
	height:70px;
	width:60%;
	text-indent:60px;
	line-height:70px;
	float:left;
}
.searchBox
{
	width:40%;
	height:70px;
	float:left;
	display:flex;
	align-items:center;
	justify-content:center;
}
.searchBox div
{
	width:80%;
	height:28px;
	display:flex;
}
.searchBox input
{
	width:80%;
	height:100%;
	text-indent:1.1em;
}
.searchBox span
{
	width:28px;
	height:100%;
	margin-left:5px;
	display:block;
	background:url(../img/search.png) no-repeat scroll center/28px;
}
main
{
	width:100%;
	min-height:700px;
	border:1px solid black;
}
footer
{
	width:100%;
	height:100px;
	border:1px solid black;
	padding:10px;
}
footer h5
{
	display:flex;
	align-items:center;
	justify-content:center;
	height:40px;
}
footer > h4
{
	height:40px;
	text-indent:1.5em;
}
footer > h5 > a{color:#8a8280;text-decoration:none;}
