* {
	margin: 0px;
	padding: 0px;
}
#onenav {
	width: 170px;
}

#onenav dl {
	width: 170px;
	border: #ebebeb 1px solid;

}

#onenav dt {
	border-bottom: 1px #ebebeb solid;
	margin: 15px;
	font-size: 25px;
	font-weight: 400;
	line-height: 90px;
	margin-top: -10px;

}

#onenav dd {
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
	text-indent: 15px;
}

#onenav dd a {
	color: black;
	text-decoration: none;
}

#onenav dd a:hover {
	color: #31C27C;
}

#onenav dd:nth-of-type(3) {
	background-color: #31c27c;
}

#onenav dd:nth-of-type(3) a {
	color: white;
}

.box {
	margin-bottom: 35px;
}

#onenav a {}

#onenav dd a {
	display: inline-block;
	height: 100%;
	width: 100%;
}
