<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="vue.js"></script>
    <title></title>
    <style>
        *{margin:0;padding:0;list-style-type:none;box-sizing:border-box;}
        #app{
            width:50%;
            margin:100px auto 0;
        }
       #app> div
        {
            width:150px;
            height:80px;
            background:#f5f5f5;
            /* padding:10px; */
            margin:10px;
            text-align: center;
            line-height: 80px;
        }
    </style>
    
</head>
<body>
     <div id="app">
            <div @click="show2" v-if="d1">
                This is first div!
            </div>

            <div @click="show1" v-if="d2">
                This is second div;
            </div>


            

            <div>addtional div</div>

            <br/>

            <div v-if="d1">
                d1 == true
            </div>
            <div v-else>
                d1 != true
            </div>
     </div>
    <script>
         let vm = new Vue({
            el:"#app",
            data:{
                d1:true,
                d2:true
            },
            methods:{
                show2()
                {
                    this.d1 = false;
                    this.d2 = true;
                },
                show1()
                {
                    this.d2 = false;
                    this.d1 = true;
                }
            }
        })
    </script>
</body>
</html>
